.SingerBlock{
    display: flex;
    border: 5px solid #DDE4EA;
    border-radius: 25px;
    margin: 15px 0 20px;
}

.SingerBlock img{
    margin: 5px;
    width: 250px;
    border-radius: 15px;
}

.SingerBlock p{
    margin-left: 15px;
}

.SingerBlock p:first-child{
    font-size: 32px;
    margin-bottom: 4px;
    margin-top: -10px;
}

.SingerBlock p:nth-child(2){
    font-size: 24px;
}

.SingerBlock p:last-child{
    font-size: 16px;
    margin-right: 10px;
}

.SingerInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 390px;
    word-wrap: break-word;
}

.SingerInfo div:first-child{
    margin-top: 20px;
}

@media only screen and (max-width: 992px) {
    .SingerBlock{
        flex-direction: column;
        text-align: center;
    }
    .SingerBlock img {
        align-self: center;
    }
    .SingerInfo {
        flex-grow: 3;
        width: 350px;
    }
}
