.MyButton{
    color: black;
    background-color: #DDE4EA;
    border-radius: 10px;
    border: #DDE4EA;
    font-size: 20px;
    font-weight: 500;
    width: 200px;
    height: 50px;
    margin: 15px;
}